<div class="container col-md-4">
    <div class="card">
        <div class="card-header card-warning">
            Agregar equipo
        </div>
            <div class="card-body">
                <form action="/agregar-equipo" method="post">
                    <div class="class-group">
                        <input type="text" name="name" class="form-control" placeholder="Nombre del equipo" autofocus>
                    </div>
                    <div class="class-group">
                        <button class="btn mt-4 btn-primary btn-block">
                            Agregar 
                        </button>
                    </div>
                </form>
            </div>
    </div>
</div>