<div class='row'>
    <div class='col-md-4 mx-auto '>
        <div class='card'>
            <div class='card-header'>
                Agregar partido
            </div>
            <div class='card-body'>
                <form action='/partidos' method='post'>
                    <div class='form-group'>
                        <input type='text' class='form-control' id="getLocalTeam" name='localTeam'
                            placeholder='Equipo local' autofocus>
                    </div>
                    <div class='form-group'>
                        <input type='text' class='form-control' name='awayTeam' placeholder='Equipo visitante'>
                    </div>
                    <div class='form-group'>
                        <input type="number" class='form-control' name='localScore' placeholder='Goles'>
                    </div>
                    <div class='form-group'>
                        <input type="number" class='form-control' name='awayScore' placeholder='Goles'>
                    </div>
                    <button class='btn-primary btn-block'>
                        Agregar
                    </button>

            </div>

            </form>
        </div>
    </div>
</div>
</div>